@font-face {
    font-family: 'din-regular';
    src: url('fonts/DIN-REGU/din-regu.eot');
    src: url('fonts/DIN-REGU/din-regu.eot?#iefix') format('embedded-opentype'),
         url('fonts/DIN-REGU/din-regu.woff') format('woff'),
         url('fonts/DIN-REGU/din-regu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// DIN Black
@font-face {
    font-family: 'din-black';
    src: url('fonts/DIN-BLAC/din-blac.eot');
    src: url('fonts/DIN-BLAC/din-blac.eot?#iefix') format('embedded-opentype'),
         url('fonts/DIN-BLAC/din-blac.woff') format('woff'),
         url('fonts/DIN-BLAC/din-blac.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'cc-icons';
    src: url('scss/fonts/cc-icons.eot');
    src: url('scss/fonts/cc-icons.eot?#iefix') format('embedded-opentype'),
         url('scss/fonts/cc-icons.woff') format('woff'),
         url('scss/fonts/cc-icons.ttf') format('truetype'),
         url('scss/fonts/cc-icons.svg#cc-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
        font-family: 'cc-icons';
        content: attr(data-icon);
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
    }

strong {
    font-family: 'din-black';
}
em {
    font-family: 'din-regular';
    font-style: italic;
}
