
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides {margin: 0; padding: 0; list-style: none;}

@include keyframes(scale) {
	0% {
		@include transform(scale(1));
	}
	50% {
		@include transform(scale(1.1));
	}
	100% {
		@include transform(scale(1));
	}
}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; overflow: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%; 
	display: block; 
	position: relative;
	@include animation(scale 14s ease-in infinite);
}


/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; background: #fff; position: relative; zoom: 1; }
.flexslider .slides { zoom: 1; }

.slider-caption {
	*zoom: 1;
	width: 100%;
	z-index: 99;
	position: absolute;
	padding: 0.5em 0;
	bottom: 2%;
	background-color: rgba(0,0,0,0.5);
	h2 {
		display: inline-block;
		color: #fff;
		padding: 0;
		font-size: 1.4em;
		margin: 0 0 0.5em 0;
	}
	a {
		display: inline-block;
		text-transform: uppercase;
		padding: 2.5%;
		font-size: 1em;
	}
}