$lime-green: #cff23d; // Lime green
$sky-blue: #3dcff2; // Sky blue
$darker-blue: #3d75f2; // darker blue
$darker-green: #718c09; // The darker green
$grey: #555; //Text and foot

$small-screen: 320px;
$medium-screen: 767px;
$large-screen: 1019px;

$header-height: 81px;
$header-height-ipad: 60px;
$header-height-iphone: 45px;