$lime-green: #cff23d; // Lime green
$sky-blue: #43d3ff; // Sky blue
$darker-green: #708909; // The darker green
$secondary-green: #aee608; // The lighter green
$secondary-blue: #90e5ff; // The lighter blue
$sandy-yellow: #ffe266; // The sandy yellow
$header-height: 85px;
$header-height-ipad: 60px;
$header-height-iphone: 45px;